@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*--- Logo ---*/

#responsive{
        width: 100%;
        height: auto;
      }

#logo {
    float:right;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Open Sans ;
    margin-right: 30px;
    margin-bottom: 10px;}

/* ---- Heading ----*/

h1, h2, h3, p, nav, menu{
                        font-family: Open Sans;}

/* Navigation */

nav{
    height: auto;
    width: 100%;}

nav ul {background-color: #fdd008;
        width: 97.2%;
        height:50px;}

#menu {
        font-size: 110%;
        letter-spacing: 4px;}

#menu {
        line-height: 50px;}

#menu li {
         text-transform: uppercase;
         float: left;
         list-style-type: none;
         margin-right: 90px;}

#menu a {
    text-decoration: none;
    color: inherit;}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;}

.active {
    border-bottom: 1px solid #3a3a3a;}

/*---- Welcome ----*/

#welcome h1 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;}

#welcome p {
        width: 70%;
        text-align: justify;
        padding-left: 200px;}

#welcome {
       padding-bottom: 20px;}

/*---- about us text ----*/

#about-us {
        background-color: #fff;
        width: 100%;
        height: inherit;}

#about-us h1 {
        margin-left: 45%;
        padding-top: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;}  

.about p {
        width: 40%;
        float: left;
        padding-left: 175px;
        text-align: justify;}

.about img {
        width: 30%;
        padding-right: 20px;
        height: 350px;
        padding-left: 70px;
        margin-bottom: 10px;}

/*---- Meet the Team ----*/

#meet-the-team {
        width:100%;}

#meet-the-team h1 { 
        padding-top: 80px;
        padding-bottom: 10px;
        text-transform: uppercase;
        padding-left: 45%;} 

#meet-the-team img {
        border-radius:50%;
        height: 200px;
        width: 200px;}
figure {
     padding: 4px;
     margin: auto;}

figcaption {
    background-color: white;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
    width: 250px;}

/*---- Richard -----*/

.richard figcaption {
    margin-top: 10px;
    margin-right: 30px;}

 .richard {
        margin-left:190px;
        float: left;}

.richard img{
        margin-left: 10px;
        border-radius: 50%;}

/*---- Jean ----*/

.jean {
        margin-left: 110px;
        float: left;}

.jean img {
        margin-left: 25px;
        border-radius: 50%; }

.jean figcaption {
      margin-top: 10px;
     padding-left: 10px;}

/*---- Lesley ----*/

.lesley img {
    margin-left: 160px;
    border-radius: 50%;}

.lesley figcaption {
    margin-top: 10px;
    margin-left: 990px;}

/* ----Lynette ----*/

.lynette figcaption {
    margin-top: 10px;
    padding-right: 10px;}

.lynette{
        margin-left:190px;
        float: left;}

.lynette img{
        margin-left: 10px;
        border-radius: 50%;}

/*---- Noelle ----*/

.noelle {
        margin-left: 130px;
        float: left;}

.noelle img {
        margin-left: 25px;
        border-radius: 50%;}

.noelle figcaption {
      margin-top: 10px;
     padding-left: 10px;}

/*---- Declan ----*/

.declan img {
    margin-left: 160px;
    border-radius: 50%;}

.declan figcaption {
    margin-top: 10px;
    margin-left: 990px;}

/* Footer/ social networks */
/* footer */

#home-footer {
    height: auto;
    background-color: #fdd008;
    margin-top: 10px}

.social-media {
    text-align: center;}

.social-media > li {
    display: inline;}

.social-media i {
    font-size: 200%;
    padding: 5%;
    color: black;}

/* -------------------- Gallery ----------------------- */

.gallery-heading {
    padding-left: 23%;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;}


/* ----- Gallery Images Style -----*/
#gallery-photos {
    clear: both;
    column-count: 2;
    column-gap: 2; }

#gallery-photos > img {
    width: 100%;
    padding-top: 15px;}

#gallery-footer {
    height: 20px;
    background-color: #fdd008;
    margin-top: 100px;}

/* -------------------- Services Page -------------------- */

#services-welcome h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left:13%;
    width: 70%;}

    #services-welcome h4{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        margin-left:15%;
        width: 70%;}

#services-welcome p {
    width: 70%;
    text-align: justify;
    padding-left: 200px;}

#services-welcome {
   padding-bottom: 50px;}

#section1 {
    background-color: #2EB0E5;
    Width: 28%;
    height:  300px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section2 {
    background-color: #fff;
    Width:  28%;
    height: 300px;
    float: left;
    margin-left:100px;
    text-align: center;}

#section3 {
    background-color: #2EB0E5;
    Width:  28%;
    height: 300px;
    float: right;
    margin-right: 20px;
    text-align: center;}

#section4 {
    background-color: #fff;
    Width:  28%;
    height: 270px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section5 {
    background-color: #2EB0E5;
    Width:  28%;
    height: 300px;
    float: left;
    margin-left: 100px;
    text-align: center;}

#section6 {
    background-color: #fff;
    Width:  28%;
    height: 300px;
    float: right;
    margin-right: 20px;
    text-align: center;}

#services-list h2 {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left:10px;}

#services-list p {
    padding-right: 20px;
    padding-left:20px;}

#services-list {
    margin-bottom: 80px;}

/*-----Contact Button------*/    
.btn-btn-outline-primary1{
    color: #fff;}

.btn-btn-outline-primary2{
        color: #0B0B45;}

#services-footer {
    height:auto;
    background-color: #fdd008;
    margin-top: 700px;}

/*---------------------- Contact Page  -----------------------------*/

/*---- Love running project code -----*/
/* ---- Form ----*/ 
.form-section {
    clear: left;
    background-color: #edf3fa;
    background-size: cover;
    background-position: center;
    height: 600px;}

.contact-form {
    margin: 0 5% 0 0;
    color: black;
    border: 1px solid black;
    max-width: 600px;
    position: absolute;
    left: 40px;
    padding: 30px;
}

.contact-form > h2 {
    color:black;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;}

.message-input{
    background: transparent;
    color: black;
    width: 100%;
    height: 105px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #2EB0E5;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fdd008;
    color: #3a3a3a;
    display: block;
}

/* --- Map ---*/

#map {
    padding-top: 10px;
    padding-left:40px;
    max-width: 70%;
    margin-bottom: 40px;
    width:42.7%; 
    height:40%;
    } 

#contact-footer {
    height:auto;
    background-color: #fdd008;}

    /*----Find us ----*/
.contact-us > h2{
    padding-right: 180px;
    text-transform: uppercase;
    font-size: 24px;
}
.contact-us{
    text-align: center;
    padding-left:10%;
    padding-top: 20px;
    background-color: #edf3fa;
}    

.content1{
    float:left;
    padding-right: 120px;
}
.content2{float:left;
    padding-right: 300px;
}

.content3{float:left;
    padding-right: 300px;}

                     /*-------Media Queries (Tablet)--------*/

                            /* Home page */

@media screen and (max-width:828px) {

    /* --------Header Image-------- */


/* -----Navigation -------*/
nav{ height: 10px;
     width: 100%;}

nav ul {background-color: #fdd008;
        width: 95%;
        height:60px;}

#menu {
    font-size: 16px;
    letter-spacing: 4px;}

#menu {
    line-height: 10px;}

#menu li {
    text-transform: uppercase;
    float: left;
    list-style-type: none;
    margin-right: 50px;
    padding-top:25px;}

#menu a {
    text-decoration: none;
    color: inherit;}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;}

/* -------------- Welcome ----------------- */

#welcome h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;}

#welcome p {
    width: 90%;
    text-align: justify;
    padding-left: 40px;}

#welcome {
    padding-bottom: 20px;}

/* -----about us text----- */

#about-us {
    background-color: #fff;
    width: 100%;
    height: inherit;}

#about-us h1 {
    float:left;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left: 42%;}  

.about p {
    padding-top: 10px;
    width: 90%;
    float: left;
    padding-left: 40px;
    text-align: justify;}

.about img {
    width: 60%;
    padding-right: 20px;
    height: 350px;
    padding-left: 140px;}

/* -----Meet the Team------ */
#meet-the-team h1{
    padding-left: 260px;
    font-size: 30px;}

#meet-the-team {
    width:100%;
    margin-top:20px;} 

#meet-the-team img {
    border-radius: 50%;
    height: 200px;
    width: 200px;}

figcaption {
    font-size: large;
    width: 300px;
    margin-left:10px;}

/*----- Richard -----*/

.richard {
    float: left;
    margin-left: 2px;}

.richard  img{
    float: left;
    margin-left: 10px;
    padding-bottom: 10px;}

.richard figcaption{
    float:right;
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
    width: 450px;
    padding-top:40px;}

/* ---- Jean -----*/

.jean {
    float: right;}

.jean img{
    float: right;
    padding-bottom: 10px;
    margin-left:20px;}

.jean figcaption{
    margin-left: 10px;
    text-align: right;
    width: 690px;;
    font-size: 24px;
    padding-top:40px;}
 
/*--- Lesley ---*/

.lesley {
    float: left;}

.lesley img{
    float: left;
    padding-bottom: 5px;
    margin-left: 10px;
    padding-right: 20px;
    border-radius: 50%;}

.lesley figcaption{
    text-align: left;
    width: 670px;
    margin-left: 30px;
    font-size: 24px;
    padding-top:40px;}

/*--- Lynette ----*/
.lynette {
    float: right;}

.lynette img{
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;}

.lynette figcaption{
   margin-left: 10px;
    padding-top: 20px;
    text-align: right;
    width: 690px;
    font-size: 24px;
    padding-top:40px;}

/*--- Noelle ----*/

.noelle{
    float: left;
    margin-left: 20px;}

.noelle img{
    float: left;
    margin-left: 1px;
    padding-bottom: 10px;}

.noelle figcaption{
    padding-top: 20px;
    float:right;
    text-align: left;
    width: 476px;
    font-size: 24px;
    padding-top:40px;}

/* --- Declan ---- */

.declan{
    float: right;}

.declan img{
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;}

.declan figcaption{
    text-align: right;
    margin-right: 40px;
    width: 670px;
    font-size: 24px;
    padding-top:40px;}

/* Footer/ social networks */
/* footer */

#home-footer {
    height: auto;
    background-color: #fdd008;
    padding-top:20px;
    margin-top: 1304px;}

.social-media {
    text-align: center;}

.social-media > li {
    display: inline;}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;}

/* -------------------- Services Page -------------------- */

#services-list{
    padding-bottom: 1400px;}

#services-welcome h1, h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left:15%;
    width: 70%;}

#services-welcome p {
    width: 90%;
    text-align: justify;
    padding-left: 40px;
    font-size: 20px;}

#services-welcome {
   padding-bottom: 10px;}

#h4 {
    font-size: 20px;}

#section1 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 250px;
    float: left;
    margin-left: 40px;
    text-align: center;
}

#section2 {
    background-color: #fff;
    Width: 90%;
    height: 250px;
    float: left;
    margin-left: 40px;
    text-align: center;
}

#section3 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 250px;
    float: left;
    margin-left: 40px;
    text-align: center;}

#section4 {
    background-color: #fff;
    Width: 90%;
    height: 250px;
    float: left;
    margin-left: 40px;
    text-align: center;
}

#section5 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 250px;
    float: left;
    margin-left: 40px;
    text-align: center;
}

#section6 {
    background-color: #fff;
    Width: 90%;
    height: 250px;
    float: left;
    margin-left: 40px;
    text-align: center;
}

#services-list h2 {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left:10px;
}

#services-list p {
    padding-right: 20px;
    padding-left:20px;
}

#services-footer{
    margin-top: 100px;
}

/* --------------Gallery Page ---------------- */
/*--- Gallery Header ----*/

.gallery-header{
    height: 500px;
    width: 720px;
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;}

.gallery-heading{
    padding-right: 20%;
    text-align: center;}

/*--- Gallery Photos ---*/

#gallery-photos {
    clear: both;
    column-count: 1;
    column-gap: 0;}

#gallery-photos > img {
    width: 100%;}

/*---------------------- Contact Page  -----------------------------*/

/*---- Love running project code -----*/
/* ---- Form ----*/ 
.form-section {
    clear: both;
    background-color: #fff;
    background-size: cover;}

.contact-form {
    margin: 0 5% 0 0;
    color: black;
    border: 1px solid black;
    max-width: 600px;
    position: absolute;
    left: 40px;
    padding-right: 50px;
}

.contact-form > h2 {
    color:black;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;}

.message-input{
    background: transparent;
    color: black;
    width: 100%;
    height: 105px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #2EB0E5;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fdd008;
    color: #3a3a3a;
    display: block;
}

/* --- Map ---*/

#map {
    float:left;
    margin-bottom: 40px;
    padding-left: 10%;
    width:42.7%; 
    height:40%;
    background-color: #fff;
    } 

#contact-footer {
    height:auto;
    background-color: #fdd008;}

    /*----Find us ----*/
.contact-us > h2{
    background-color: #fff;
    text-transform: uppercase;
    font-size: 28px;
}
.contact-us{
    text-align: left;
    font-size: 22px;
    background-color: #fff;}   
    


 /* Mobile phone media querie */

@media screen and (max-width:414px) {



/* -----Navigation------ */

nav{height: 10px;
    width: 94%;}

nav ul {background-color: #fdd008;
        width: 95%;
        height:70px;}

#menu {
    font-size: 90%;
    letter-spacing: 4px;}

#menu {
    line-height: 15px;}

#menu li {
    text-transform: uppercase;
    float: left;
    list-style-type: none;
    margin-right: 90px;
    padding-top: 2px;}

#menu a {
    text-decoration: none;
    color: inherit;}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;}

#logo{ padding-top: 10px}

/* -------------- Welcome ----------------- */

#welcome h1 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;}

.para1, .para2 {
        width: 90%;
        text-align: justify;
        padding-right: 20px;
    }

#welcome {
       padding-bottom: 20px;}

/* ------about us text------ */

#about-us {
        background-color: #fff;
        width: 100%;
        height: inherit;}

#about-us h1 {
        float:left;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        margin-left: 33%;}    

.about p {
        padding-top: 10px;
        width: 90%;
        float: left;
        padding-left: 20px;
        text-align: justify;}

.about img {
        width: 90%;
        padding-right: 20px;
        height: 270px;
        padding-left: 20px;}

/*----- Meet the Team -----*/

#meet-the-team h1{
    padding-left: 22%;}

#meet-the-team {
    margin-left: 1px;
    width:100%;}  

#meet-the-team img {
    border-radius: 50%;
    height: 100px;
    width: 100px;}
figcaption {
    font-size: small;
    width: 180px;
    margin-left:10px;}

/* --- Richard ---- */

.richard {
    float: left;}

.richard img{
    float: left;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;}

.richard figcaption{
    padding-bottom: 10px;
    float:right;
    text-align: left;
    font-size: 16px;
    width:174px;}

/*-- Jean --*/

.jean {
    float: right;}

.jean img{
    float: right;
    padding-bottom: 10px;
    margin-left:20px;
    padding-top: 30px;}

.jean figcaption{
    margin-left: 10px;
    text-align: right;
    font-size: 16px;
    width:355px;
    margin-top: 10px;} 

 /*-- Lesley ---*/

.lesley {
    float: left;}

.lesley img{
    float: left;
    padding-bottom: 5px;
    border-radius: 50%;
    padding-top: 40px;} 
  
.lesley figcaption{
    padding-bottom: 10px;
    float:right;
    text-align: left;
    font-size: 16px;
    width:174px;}

/*-- Lynette ---*/    

.lynette {
    float: right;}

.lynette img{
    float: right;
    margin-left: 10px;}

.lynette figcaption{
   margin-left: 10px;
    padding-top: 20px;
    text-align: right;
    font-size: 16px;
    width:344px;}

/* --- Noelle ---*/

.noelle{
    float: left;
    margin-left: 20px;}


.noelle img{
    float: left;
    margin-left: 1px;
    padding-bottom: 10px;
    padding-top: 10px;}

.noelle figcaption{
    padding-top: 20px;
    float:right;
    text-align: left;
    font-size: 16px;
    width:208px;}

/*-- Declan --*/

.declan{
    float: right;}

.declan img{
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;}

.declan figcaption{
    
    text-align: right;
    margin-right: 40px;
    font-size: 16px;
    width:305px;}

/* Footer/ social networks */
/* footer */

#home-footer {
    height: auto;
    background-color: #fdd008;
    margin-top:860px;}

.social-media {
        text-align: center;}

.social-media > li {
    display: inline;}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;}

/* -------------------- Services Page -------------------- */

   
#services-welcome h1, h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left:15%;
    width: 70%;}

#services-welcome p {
    width: 90%;
    text-align: justify;
    padding-left: 30px;}

#services-welcome {
   padding-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;}

.para1 > h4 {
    padding-left: 10px;
    font-size: 20px;
}

#section1 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section2 {
    background-color: #fff;
    Width: 90%;
    height: 330px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section3 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 330px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section4 {
    background-color: #fff;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section5 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section6 {
    background-color: #fff;
    Width: 90%;
    height: 200px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#services-list h2 {
    margin-top: 40px;
    padding-right: 10px;
    padding-left:10px;}

#services-list p {
    padding-right: 20px;
    padding-left:20px;}

#services-footer {
    height: auto;
    background-color: #fdd008;
    margin-bottom: 5px;
    margin-top: 500px;}

/* --------------Gallery Page ---------------- */
.gallery-heading {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;}

#gallery-photos {
    clear: both;
    column-count: 1;
    column-gap: 0;}

#gallery-photos > img {
    width: 100%;}

#header-image-gallery{
    height: 560px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 10px;}

#gallery-footer{
    margin-top: 10px;}

/*---------------------- Contact Page  -----------------------------*/

/*---- Love running project code -----*/
/* ---- Form ----*/ 
.form-section {
    clear: both;
    background-color: #fff;
    background-size: cover;}

.contact-form {
    margin: 0 5% 30% 0;
    color: black;
    border: 1px solid black;
    max-width: 600px;
    position: absolute;
    left: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.contact-form > h2 {
    color:black;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 15px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;}

.message-input{
    background: transparent;
    color: black;
    width: 100%;
    height: 105px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #2EB0E5;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fdd008;
    color: #3a3a3a;
    display: block;
}

/* --- Map ---*/

#map {
    margin-bottom: 40px;
    width:20%; 
    height:40%;
    background-color: #fff;
    } 

#contact-footer {
    height:auto;
    background-color: #fdd008;}

    /*----Find us ----*/
.contact-us > h2{
    background-color: #fff;
    text-transform: uppercase;
    width:90%;
    font-size: 18px;
}

.content1 {
    font-size: 14px;
    width:50%;
    float: left;
    padding-left: 20%;
}
.content2 {
    font-size: 14px;
    width:50%;
    float:left;
    padding-left: 20%;
}

.content3 {
    font-size: 14px;
    padding-left: 32%;
}

.contact-us{
    text-align: center;
    width:90%;
    font-size: 12px;
    background-color: #fff;}
}
}