@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*--- Logo ---*/

#logo {
    float:right;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Open Sans ;
    margin-right: 30px;
    margin-bottom: 10px;}

/* ---- Heading ----*/

h1, h2, h3, p, nav, menu{
                        font-family: Open Sans;}

/* Header Image */

#header-image {
            height: 500px;
            width: 100%;
            overflow: hidden;
            position: relative;}

/* Navigation */

nav{
    height: 5px;
    width: 100%;}

nav ul {background-color: #fdd008;
        width: 97.2%;
        height:50px;}

#menu {
        font-size: 110%;
        letter-spacing: 4px;}

#menu {
        line-height: 50px;}

#menu li {
         text-transform: uppercase;
         float: left;
         list-style-type: none;
         margin-right: 90px;}

#menu a {
    text-decoration: none;
    color: inherit;}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;}

.active {
    border-bottom: 1px solid #3a3a3a;}

/*---- Welcome ----*/

#welcome h1 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;}

#welcome p {
        width: 70%;
        text-align: justify;
        padding-left: 200px;}

#welcome {
       padding-bottom: 20px;}

/*---- about us text ----*/

#about-us {
        background-color: #fff;
        width: 100%;
        height: inherit;}

#about-us h1 {
        margin-left: 45%;
        padding-top: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;}  

.about p {
        width: 40%;
        float: left;
        padding-left: 175px;
        text-align: justify;}

.about img {
        width: 30%;
        padding-right: 20px;
        height: 350px;
        padding-left: 70px;
        margin-bottom: 10px;}

/*---- Meet the Team ----*/

#meet-the-team {
        width:100%;}

#meet-the-team h1 { 
        padding-top: 80px;
        padding-bottom: 10px;
        text-transform: uppercase;
        padding-left: 45%;} 

#meet-the-team img {
        border-radius:50%;
        height: 200px;
        width: 200px;}
figure {
     padding: 4px;
     margin: auto;}

figcaption {
    background-color: white;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
    width: 250px;}

/*---- Richard -----*/

.richard figcaption {
    margin-top: 10px;
    margin-right: 30px;}

 .richard {
        margin-left:190px;
        float: left;}

.richard img{
        margin-left: 10px;
        border-radius: 50%;}

/*---- Jean ----*/

.jean {
        margin-left: 110px;
        float: left;}

.jean img {
        margin-left: 25px;
        border-radius: 50%; }

.jean figcaption {
      margin-top: 10px;
     padding-left: 10px;}

/*---- Lesley ----*/

.lesley img {
    margin-left: 160px;
    border-radius: 50%;}

.lesley figcaption {
    margin-top: 10px;
    margin-left: 990px;}

/* ----Lynette ----*/

.lynette figcaption {
    margin-top: 10px;
    padding-right: 10px;}

.lynette{
        margin-left:190px;
        float: left;}

.lynette img{
        margin-left: 10px;
        border-radius: 50%;}

/*---- Noelle ----*/

.noelle {
        margin-left: 130px;
        float: left;}

.noelle img {
        margin-left: 25px;
        border-radius: 50%;}

.noelle figcaption {
      margin-top: 10px;
     padding-left: 10px;}

/*---- Declan ----*/

.declan img {
    margin-left: 160px;
    border-radius: 50%;}

.declan figcaption {
    margin-top: 10px;
    margin-left: 990px;}

/* Footer/ social networks */
/* footer */

#home-footer {
    height: 20px;
    background-color: #fdd008;
    margin-top: 150px;}

.social-media {
    text-align: center;}

.social-media > li {
    display: inline;}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;}

/* -------------------- Gallery ----------------------- */

.gallery-heading {
    padding-left: 15%;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;}

#gallery-header{
    padding-left: 40px;
    width:90%;}

/* ----- Gallery Images Style -----*/
#gallery-photos {
    clear: both;
    column-count: 2;
    column-gap: 2; }

#gallery-photos > img {
    width: 100%;
padding-top: 15px;}

#gallery-footer {
    height: 20px;
    background-color: #fdd008;
    margin-top: 100px;}

/* -------------------- Services Page -------------------- */

#services-header-image {
    height: 575px;
    width: 100%;
    overflow: hidden;
    position: relative;}

#services-welcome h1, h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left:15%;
    width: 70%;}

#services-welcome p {
    width: 70%;
    text-align: justify;
    padding-left: 200px;}

#services-welcome {
   padding-bottom: 50px;}

#section1 {
    background-color: #2EB0E5;
    Width: 28%;
    height:  300px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section2 {
    background-color: #fff;
    Width:  28%;
    height: 300px;
    float: left;
    margin-left:100px;
    text-align: center;}

#section3 {
    background-color: #2EB0E5;
    Width:  28%;
    height: 300px;
    float: right;
    margin-right: 20px;
    text-align: center;}

#section4 {
    background-color: #fff;
    Width:  28%;
    height: 270px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section5 {
    background-color: #2EB0E5;
    Width:  28%;
    height: 300px;
    float: left;
    margin-left: 100px;
    text-align: center;}

#section6 {
    background-color: #fff;
    Width:  28%;
    height: 300px;
    float: right;
    margin-right: 20px;
    text-align: center;}

#services-list h2 {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left:10px;}

#services-list p {
    padding-right: 20px;
    padding-left:20px;}

#services-list {
    margin-bottom: 80px;}

#services-footer {
    height: 20px;
    background-color: #fdd008;
    margin-top: 700px;}

/*---------------------- Contact Page  -----------------------------*/

#image-contact{
    height: 575px;
    width: 100%;
    overflow: hidden;
    position: relative;}

#contact-header{
    padding-left:25%; 
    text-transform: uppercase;}

#contact-info{
    margin-left: 60px; 
    text-transform: uppercase;
    width: 40%;
    float: right;}

/* --- Map ---*/

#map {
    max-width: 100%;
    margin-left: 150px; 
    margin-top: 50px;
    margin-bottom: 40px;
    width: auto; 
    height: auto;}

/* ---- Form ----*/  

#contact-form{
    padding-top:50px;}

.contact-button {
    margin-top: 20px;}

#form{ 
    text-align: left;
    width: 100%;
    margin-left: 150px;}

#contact-footer {
    height: 20px;
    background-color: #fdd008;
    margin-top: 100px;}

                     /*-------Media Queries (Tablet)--------*/

                            /* Home page */

@media screen and (max-width:828px) {

    /* --------Header Image-------- */
#header-image {
    height: 500px;
    width: 90%;
    overflow: hidden;
    position: relative;
    margin-left: 40px;
    padding-top: 40px; }

/* -----Navigation -------*/
nav{ height: 10px;
     width: 100%;}

nav ul {background-color: #fdd008;
        width: 95%;
        height:60px;}

#menu {
    font-size: 16px;
    letter-spacing: 4px;}

#menu {
    line-height: 10px;}

#menu li {
    text-transform: uppercase;
    float: left;
    list-style-type: none;
    margin-right: 50px;
    padding-top:25px;}

#menu a {
    text-decoration: none;
    color: inherit;}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;}

/* -------------- Welcome ----------------- */

#welcome h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;}

#welcome p {
    width: 90%;
    text-align: justify;
    padding-left: 40px;}

#welcome {
    padding-bottom: 20px;}

/* -----about us text----- */

#about-us {
    background-color: #fff;
    width: 100%;
    height: inherit;}

#about-us h1 {
    float:left;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left: 42%;}  

.about p {
    padding-top: 10px;
    width: 90%;
    float: left;
    padding-left: 40px;
    text-align: justify;}

.about img {
    width: 60%;
    padding-right: 20px;
    height: 350px;
    padding-left: 140px;}

/* -----Meet the Team------ */
#meet-the-team h1{
    padding-left: 260px;
    font-size: 30px;}

#meet-the-team {
    width:100%;
    margin-top:20px;} 

#meet-the-team img {
    border-radius: 50%;
    height: 200px;
    width: 200px;}

figcaption {
    font-size: large;
    width: 300px;
    margin-left:10px;}

/*----- Richard -----*/

.richard {
    float: left;
    margin-left: 2px;}

.richard  img{
    float: left;
    margin-left: 10px;
    padding-bottom: 10px;}

.richard figcaption{
    float:right;
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
    width: 450px;
    padding-top:40px;}

/* ---- Jean -----*/

.jean {
    float: right;}

.jean img{
    float: right;
    padding-bottom: 10px;
    margin-left:20px;}

.jean figcaption{
    margin-left: 10px;
    text-align: right;
    width: 690px;;
    font-size: 24px;
    padding-top:40px;}
 
/*--- Lesley ---*/

.lesley {
    float: left;}

.lesley img{
    float: left;
    padding-bottom: 5px;
    margin-left: 10px;
    padding-right: 20px;
    border-radius: 50%;}

.lesley figcaption{
    text-align: left;
    width: 670px;
    margin-left: 30px;
    font-size: 24px;
    padding-top:40px;}

/*--- Lynette ----*/
.lynette {
    float: right;}

.lynette img{
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;}

.lynette figcaption{
   margin-left: 10px;
    padding-top: 20px;
    text-align: right;
    width: 690px;
    font-size: 24px;
    padding-top:40px;}

/*--- Noelle ----*/

.noelle{
    float: left;
    margin-left: 20px;}

.noelle img{
    float: left;
    margin-left: 1px;
    padding-bottom: 10px;}

.noelle figcaption{
    padding-top: 20px;
    float:right;
    text-align: left;
    width: 476px;
    font-size: 24px;
    padding-top:40px;}

/* --- Declan ---- */

.declan{
    float: right;}

.declan img{
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;}

.declan figcaption{
    text-align: right;
    margin-right: 40px;
    width: 670px;
    font-size: 24px;
    padding-top:40px;}

/* Footer/ social networks */
/* footer */

#home-footer {
    height: 10px;
    background-color: #fdd008;
    padding-top:20px;
    margin-top: 1304px;}

.social-media {
    text-align: center;}

.social-media > li {
    display: inline;}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;}

/* -------------------- Services Page -------------------- */

#services-header-image{
    height: 500px;
    width: 710px;
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;}

#services-list{
    padding-bottom: 1400px;}

#services-welcome h1, h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left:15%;
    width: 70%;}

#services-welcome p {
    width: 90%;
    text-align: justify;
    padding-left: 30px;
    font-size: 20px;}

#services-welcome {
   padding-bottom: 10px;}

#h4 {
    font-size: 20px;}

#section1 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 40px;
    text-align: center;}

#section2 {
    background-color: #fff;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 40px;
    text-align: center;}

#section3 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 40px;
    text-align: center;}

#section4 {
    background-color: #fff;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 40px;
    text-align: center;}

#section5 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 40px;
    text-align: center;}

#section6 {
    background-color: #fff;
    Width: 90%;
    height: 300px;
    float: left;
    margin-left: 40px;
    text-align: center;}

#services-list h2 {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left:10px;}

#services-list p {
    padding-right: 20px;
    padding-left:20px;}

#services-list {
    margin-bottom: 80px;}

#services-footer{
    margin-top:440px;}

/* --------------Gallery Page ---------------- */
/*--- Gallery Header ----*/

.gallery-header{
    height: 500px;
    width: 720px;
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;}

.gallery-heading{
    padding-right: 20%;
    text-align: center;}

/*--- Gallery Photos ---*/

#gallery-photos {
    clear: both;
    column-count: 1;
    column-gap: 0;}

#gallery-photos > img {
    width: 100%;}

/*---------------------- Contact Page  -----------------------------*/

#image-contact{
    height: 500px;
    width: 720px;
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;}

#contact-header{
    text-transform: uppercase;
    text-align: center;
    padding-right: 25%;}

#contact-info{
    margin-left: 40px; 
    text-transform: uppercase;
    width: 40%;
    float: left;
    text-align: left;
    padding-bottom: 20px;}

/*--- Form ---*/ 

#contact-form-p  {
    margin-left: 1px;
    margin-top: 10px; }

#contact-form {
    padding-top: 60px;}

input {
        margin-top: 20px;
        padding-left:10px;}
    
#form{ 
        text-align: left;
        width: 100%;
        margin-left: 40px;
        padding-top: 40px;}
    
#form h1{
        text-transform: uppercase;}

/*-- Map --*/

#map {
    margin-left: 40px;
    width:100%; 
    height:300px;}
}

 /* Mobile phone media querie */

@media screen and (max-width:375px) {

        /* Header Image */

#header-image {
    height: 500px;
    width: 320px;
    margin-left:20px;
    padding-top: 20px;}

/* -----Navigation------ */

nav{
    height: 10px;
    width: 94%;}

nav ul {background-color: #fdd008;
        width: 95%;
        height:70px;}

#menu {
    font-size: 90%;
    letter-spacing: 4px;}

#menu {
    line-height: 15px;}

#menu li {
    text-transform: uppercase;
    float: left;
    list-style-type: none;
    margin-right: 90px;
    padding-top: 2px;}

#menu a {
    text-decoration: none;
    color: inherit;}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;}

#logo{ padding-top: 10px}

/* -------------- Welcome ----------------- */

#welcome h1 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;}

#welcome p {
        width: 90%;
        text-align: justify;
        padding-left: 20px;}

#welcome {
       padding-bottom: 20px;}

/* ------about us text------ */

#about-us {
        background-color: #fff;
        width: 100%;
        height: inherit;}

#about-us h1 {
        float:left;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        margin-left: 33%;}    

.about p {
        padding-top: 10px;
        width: 90%;
        float: left;
        padding-left: 20px;
        text-align: justify;}

.about img {
        width: 90%;
        padding-right: 20px;
        height: 270px;
        padding-left: 20px;}

/*----- Meet the Team -----*/

#meet-the-team h1{
    padding-left: 22%;}

#meet-the-team {
    margin-left: 1px;
    width:100%;
    margin-top:20px;}  

#meet-the-team img {
    border-radius: 50%;
    height: 100px;
    width: 100px;}
figcaption {
    font-size: small;
    width: 180px;
    margin-left:10px;}

/* --- Richard ---- */

.richard {
    float: left;}

.richard img{
    float: left;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;}

.richard figcaption{
    padding-bottom: 10px;
    float:right;
    text-align: left;
    font-size: 16px;
    width:174px;}

/*-- Jean --*/

.jean {
    float: right;}

.jean img{
    float: right;
    padding-bottom: 10px;
    margin-left:20px;
    padding-top: 30px;}

.jean figcaption{
    margin-left: 10px;
    text-align: right;
    font-size: 16px;
    width:355px;
    margin-top: 10px;} 

 /*-- Lesley ---*/

.lesley {
    float: left;}

.lesley img{
    float: left;
    padding-bottom: 5px;
    border-radius: 50%;
    padding-top: 40px;} 
  
.lesley figcaption{
    padding-bottom: 10px;
    float:right;
    text-align: left;
    font-size: 16px;
    width:174px;}

/*-- Lynette ---*/    

.lynette {
    float: right;}

.lynette img{
    float: right;
    margin-left: 10px;}

.lynette figcaption{
   margin-left: 10px;
    padding-top: 20px;
    text-align: right;
    font-size: 16px;
    width:344px;}

/* --- Noelle ---*/

.noelle{
    float: left;
    margin-left: 20px;}


.noelle img{
    float: left;
    margin-left: 1px;
    padding-bottom: 10px;
    padding-top: 10px;}

.noelle figcaption{
    padding-top: 20px;
    float:right;
    text-align: left;
    font-size: 16px;
    width:208px;}

/*-- Declan --*/

.declan{
    float: right;}

.declan img{
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;}

.declan figcaption{
    
    text-align: right;
    margin-right: 40px;
    font-size: 16px;
    width:305px;}

/* Footer/ social networks */
/* footer */

#home-footer {
    height: 5px;
    background-color: #fdd008;
    margin-top:860px;}

.social-media {
        text-align: center;}

.social-media > li {
    display: inline;}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;}

/* -------------------- Services Page -------------------- */

#services-header-image {
    height: 500px;
    width: 320px;
    padding-right: 10px;}
   
#services-welcome h1, h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-left:15%;
    width: 70%;}

#services-welcome p {
    width: 90%;
    text-align: justify;
    padding-left: 20px;}

#services-welcome {
   padding-bottom: 10px;}

#section1 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 400px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section2 {
    background-color: #fff;
    Width: 90%;
    height: 350px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section3 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 350px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section4 {
    background-color: #fff;
    Width: 90%;
    height: 350px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section5 {
    background-color: #2EB0E5;
    Width: 90%;
    height: 350px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#section6 {
    background-color: #fff;
    Width: 90%;
    height: 400px;
    float: left;
    margin-left: 20px;
    text-align: center;}

#services-list h2 {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left:10px;}

#services-list p {
    padding-right: 20px;
    padding-left:20px;}

#services-list {
    margin-bottom: 80px;}

#services-footer {
    height: 10px;
    background-color: #fdd008;
    margin-bottom: 5px;
    margin-top: 800px;}

/* --------------Gallery Page ---------------- */

.gallery-header {
    width: 320px;}

.gallery-heading {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;}

#gallery-photos {
    clear: both;
    column-count: 1;
    column-gap: 0;}

#gallery-photos > img {
    width: 100%;}

#header-image-gallery{
    height: 560px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 10px;}

#gallery-footer{
    margin-top: 10px;}

/*---------------------- Contact Page  -----------------------------*/

#image-contact{
    height: 575px;
    width: 90%;
    overflow: hidden;
    position: relative;}

#contact-header h1{
    margin-left: 10px;
    text-align: center;}

#contact-info{
    margin-left: 105px; 
    text-transform: uppercase;
    width: 40%;
    float: left;
    text-align: center;
    margin-bottom: 20px;}

/* From */

#contact-form{
    margin-left: 0px; 
    margin-top: 20px;}

.contact-button {
        margin-top: 40px;}
    
#form{ 
        text-align: left;
        width: 100%;
        margin-left: 10px;}
    
/* ----- Map ----*/    

#map {
   margin-top: 50px;
    margin-bottom: 450px;
    margin-left: 30px;
    width:100%; 
    height:300px;}
}